.col-6{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-7{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-5{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}